@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Football Predictor App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Football Predictor App.</h2>
        <p>
            The Football Predictor App is an application constructed for my OIT Senior Development Project.
            This app will display the scores of NFL games and team averages abstracted from those scores.
            This app will also allow you to generate a prediction of a future game based on team averages.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>